Création d'un dictionnaire contenant les fréquentations de chaque station de chaque ligne

In [74]:
import pandas as pd
import numpy as np

tableau_fréquentation = pd.read_excel('https://data.ratp.fr/api/explore/v2.1/catalog/datasets/trafic-annuel-entrant-par-station-du-reseau-ferre-2021/exports/xlsx?lang=fr&timezone=Europe%2FBerlin&use_labels=true')

print(tableau_fréquentation)

     Rang Réseau               Station    Trafic Correspondance_1  \
0       3  Métro          GARE DE LYON  28640475                1
1      12  Métro            BELLEVILLE   7314438                2
2      32  Métro                 OPERA   5193831                3
3      58  Métro  SAINT-MANDE-TOURELLE   3944640                1
4      59  Métro                 HOCHE   3928404                5
..    ...    ...                   ...       ...              ...
366    39    RER    FONTENAY-SOUS-BOIS   2121720                A
367    40    RER         SUCY-BONNEUIL   1993503                A
368    58    RER            LE GUICHET    530706                B
369    65    RER        PARC DE SCEAUX    383626                B
370    66    RER        LA HACQUINIERE    285626                B

    Correspondance_2 Correspondance_3  Correspondance_4  Correspondance_5  \
0                 14                A               NaN               NaN
1                 11              NaN               NaN               NaN
2                  7                8               NaN               NaN
3                NaN              NaN               NaN               NaN
4                NaN              NaN               NaN               NaN
..               ...              ...               ...               ...
366              NaN              NaN               NaN               NaN
367              NaN              NaN               NaN               NaN
368              NaN              NaN               NaN               NaN
369              NaN              NaN               NaN               NaN
370              NaN              NaN               NaN               NaN

                  Ville  Arrondissement pour Paris
0                 Paris                       12.0
1                 Paris                       10.0
2                 Paris                        9.0
3           Saint Mandé                        NaN
4                Pantin                        NaN
..                  ...                        ...
366  Fontenay-sous-Bois                        NaN
367        Sucy-en-Brie                        NaN
368               Orsay                        NaN
369              Antony                        NaN
370    Bures sur Yvette                        NaN

[371 rows x 11 columns]

In [75]:
tableau_fréquentation = tableau_fréquentation[tableau_fréquentation['Réseau'] == 'Métro']
display(tableau_fréquentation)

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris
0,3,Métro,GARE DE LYON,28640475,1,14,A,NaN,NaN,Paris,12.0
1,12,Métro,BELLEVILLE,7314438,2,11,NaN,NaN,NaN,Paris,10.0
2,32,Métro,OPERA,5193831,3,7,8,NaN,NaN,Paris,9.0
3,58,Métro,SAINT-MANDE-TOURELLE,3944640,1,NaN,NaN,NaN,NaN,Saint Mandé,NaN
4,59,Métro,HOCHE,3928404,5,NaN,NaN,NaN,NaN,Pantin,NaN
...,...,...,...,...,...,...,...,...,...,...,...
350,272,Métro,SULLY-MORLAND,1124169,7,NaN,NaN,NaN,NaN,Paris,4.0
351,275,Métro,EUROPE,1106459,3,NaN,NaN,NaN,NaN,Paris,8.0
352,283,Métro,CAMPO-FORMIO,1016150,5,NaN,NaN,NaN,NaN,Paris,13.0
353,298,Métro,SAINT-FARGEAU,472258,3bis,NaN,NaN,NaN,NaN,Paris,8.0
354,300,Métro,PORTE D'AUTEUIL,375748,10,NaN,NaN,NaN,NaN,Paris,16.0

In [76]:
colonnes_a_supprimer = ['Réseau', 'Ville', 'Arrondissement pour Paris']

tableau_fréquentation = tableau_fréquentation.drop(colonnes_a_supprimer, axis=1)

# Afficher le DataFrame après suppression des colonnes
print(tableau_fréquentation)

     Rang               Station    Trafic Correspondance_1 Correspondance_2  \
0       3          GARE DE LYON  28640475                1               14
1      12            BELLEVILLE   7314438                2               11
2      32                 OPERA   5193831                3                7
3      58  SAINT-MANDE-TOURELLE   3944640                1              NaN
4      59                 HOCHE   3928404                5              NaN
..    ...                   ...       ...              ...              ...
350   272         SULLY-MORLAND   1124169                7              NaN
351   275                EUROPE   1106459                3              NaN
352   283          CAMPO-FORMIO   1016150                5              NaN
353   298         SAINT-FARGEAU    472258             3bis              NaN
354   300       PORTE D'AUTEUIL    375748               10              NaN

    Correspondance_3  Correspondance_4  Correspondance_5
0                  A               NaN               NaN
1                NaN               NaN               NaN
2                  8               NaN               NaN
3                NaN               NaN               NaN
4                NaN               NaN               NaN
..               ...               ...               ...
350              NaN               NaN               NaN
351              NaN               NaN               NaN
352              NaN               NaN               NaN
353              NaN               NaN               NaN
354              NaN               NaN               NaN

[305 rows x 8 columns]

In [77]:
# Liste des colonnes à modifier
colonnes_correspondance = ['Correspondance_1', 'Correspondance_2', 'Correspondance_3', 'Correspondance_4', 'Correspondance_5']

# Convertir les colonnes spécifiées en type chaîne (si elles ne le sont pas déjà)
tableau_fréquentation[colonnes_correspondance] = tableau_fréquentation[colonnes_correspondance].astype(str)

# Supprimer les lettres 'A' et 'B' des colonnes spécifiées dans tableau_fréquentation
for colonne in colonnes_correspondance:
    tableau_fréquentation[colonne] = tableau_fréquentation[colonne].str.replace('A', '').str.replace('B', '')

# Afficher le DataFrame après suppression des lettres spécifiées
print(tableau_fréquentation)

     Rang               Station    Trafic Correspondance_1 Correspondance_2  \
0       3          GARE DE LYON  28640475                1               14
1      12            BELLEVILLE   7314438                2               11
2      32                 OPERA   5193831                3                7
3      58  SAINT-MANDE-TOURELLE   3944640                1              nan
4      59                 HOCHE   3928404                5              nan
..    ...                   ...       ...              ...              ...
350   272         SULLY-MORLAND   1124169                7              nan
351   275                EUROPE   1106459                3              nan
352   283          CAMPO-FORMIO   1016150                5              nan
353   298         SAINT-FARGEAU    472258             3bis              nan
354   300       PORTE D'AUTEUIL    375748               10              nan

    Correspondance_3 Correspondance_4 Correspondance_5
0                                 nan              nan
1                nan              nan              nan
2                  8              nan              nan
3                nan              nan              nan
4                nan              nan              nan
..               ...              ...              ...
350              nan              nan              nan
351              nan              nan              nan
352              nan              nan              nan
353              nan              nan              nan
354              nan              nan              nan

[305 rows x 8 columns]

In [78]:
# Liste des colonnes à modifier
colonnes_correspondance = ['Correspondance_1', 'Correspondance_2', 'Correspondance_3', 'Correspondance_4', 'Correspondance_5']

# Remplacer "nan" par "NaN" dans les colonnes spécifiées
tableau_fréquentation[colonnes_correspondance] = tableau_fréquentation[colonnes_correspondance].replace('nan', 'NaN')

# Afficher le DataFrame avec les remplacements effectués
print(tableau_fréquentation)

     Rang               Station    Trafic Correspondance_1 Correspondance_2  \
0       3          GARE DE LYON  28640475                1               14
1      12            BELLEVILLE   7314438                2               11
2      32                 OPERA   5193831                3                7
3      58  SAINT-MANDE-TOURELLE   3944640                1              NaN
4      59                 HOCHE   3928404                5              NaN
..    ...                   ...       ...              ...              ...
350   272         SULLY-MORLAND   1124169                7              NaN
351   275                EUROPE   1106459                3              NaN
352   283          CAMPO-FORMIO   1016150                5              NaN
353   298         SAINT-FARGEAU    472258             3bis              NaN
354   300       PORTE D'AUTEUIL    375748               10              NaN

    Correspondance_3 Correspondance_4 Correspondance_5
0                                 NaN              NaN
1                NaN              NaN              NaN
2                  8              NaN              NaN
3                NaN              NaN              NaN
4                NaN              NaN              NaN
..               ...              ...              ...
350              NaN              NaN              NaN
351              NaN              NaN              NaN
352              NaN              NaN              NaN
353              NaN              NaN              NaN
354              NaN              NaN              NaN

[305 rows x 8 columns]

In [79]:
# Liste des colonnes à analyser
colonnes_correspondance = ['Correspondance_1', 'Correspondance_2', 'Correspondance_3', 'Correspondance_4', 'Correspondance_5']

# Calcul du nombre de cases non vides pour chaque ligne
tableau_fréquentation['nb_correspondance'] = tableau_fréquentation[colonnes_correspondance].count(axis=1)

# Afficher le DataFrame avec la nouvelle colonne "nb_correspondance"
print(tableau_fréquentation)

     Rang               Station    Trafic Correspondance_1 Correspondance_2  \
0       3          GARE DE LYON  28640475                1               14
1      12            BELLEVILLE   7314438                2               11
2      32                 OPERA   5193831                3                7
3      58  SAINT-MANDE-TOURELLE   3944640                1              NaN
4      59                 HOCHE   3928404                5              NaN
..    ...                   ...       ...              ...              ...
350   272         SULLY-MORLAND   1124169                7              NaN
351   275                EUROPE   1106459                3              NaN
352   283          CAMPO-FORMIO   1016150                5              NaN
353   298         SAINT-FARGEAU    472258             3bis              NaN
354   300       PORTE D'AUTEUIL    375748               10              NaN

    Correspondance_3 Correspondance_4 Correspondance_5  nb_correspondance
0                                 NaN              NaN                  5
1                NaN              NaN              NaN                  5
2                  8              NaN              NaN                  5
3                NaN              NaN              NaN                  5
4                NaN              NaN              NaN                  5
..               ...              ...              ...                ...
350              NaN              NaN              NaN                  5
351              NaN              NaN              NaN                  5
352              NaN              NaN              NaN                  5
353              NaN              NaN              NaN                  5
354              NaN              NaN              NaN                  5

[305 rows x 9 columns]

In [80]:
# Diviser les valeurs de la colonne "Trafic" par les valeurs de la colonne "nb_correspondance"
tableau_fréquentation['Trafic'] = tableau_fréquentation['Trafic'] / tableau_fréquentation['nb_correspondance']

# Afficher le DataFrame avec les valeurs mises à jour
print(tableau_fréquentation)

     Rang               Station     Trafic Correspondance_1 Correspondance_2  \
0       3          GARE DE LYON  5728095.0                1               14
1      12            BELLEVILLE  1462887.6                2               11
2      32                 OPERA  1038766.2                3                7
3      58  SAINT-MANDE-TOURELLE   788928.0                1              NaN
4      59                 HOCHE   785680.8                5              NaN
..    ...                   ...        ...              ...              ...
350   272         SULLY-MORLAND   224833.8                7              NaN
351   275                EUROPE   221291.8                3              NaN
352   283          CAMPO-FORMIO   203230.0                5              NaN
353   298         SAINT-FARGEAU    94451.6             3bis              NaN
354   300       PORTE D'AUTEUIL    75149.6               10              NaN

    Correspondance_3 Correspondance_4 Correspondance_5  nb_correspondance
0                                 NaN              NaN                  5
1                NaN              NaN              NaN                  5
2                  8              NaN              NaN                  5
3                NaN              NaN              NaN                  5
4                NaN              NaN              NaN                  5
..               ...              ...              ...                ...
350              NaN              NaN              NaN                  5
351              NaN              NaN              NaN                  5
352              NaN              NaN              NaN                  5
353              NaN              NaN              NaN                  5
354              NaN              NaN              NaN                  5

[305 rows x 9 columns]

In [81]:
#Nettoyage de données sur le nombre de validations: on obtient le nombre de validation moyen par jour sur 1 mois précis

import pandas as pd
%config NotebookApp.iopub_data_rate_limit=100000000000.0
url2 = '/workspaces/metro-JO/Données importées/2022_S2_NB_FER.csv'
données_validation2= pd.read_csv(url2)
données_validation2 = pd.read_csv(url2, delimiter=';')

# Exemple avec gestion de formats flexibles
données_validation2['JOUR'] = pd.to_datetime(données_validation2['JOUR'], errors='coerce', format="%d/%m/%Y")
donnees_mai = données_validation2.loc[(données_validation2['JOUR'].dt.month == 5)]
donnees_sum = donnees_mai.groupby('LIBELLE_ARRET')['NB_VALD'].mean().reset_index()

# Conversion de la colonne 'JOUR' en datetime
données_validation2['JOUR'] = pd.to_datetime(données_validation2['JOUR'], format='%d/%m/%Y')

# Filtrer les données pour les dates spécifiques
donnees_filtrees = données_validation2[(données_validation2['JOUR'] >= '2022-07-24') & (données_validation2['JOUR'] <= '2022-08-11')]

# Grouper par 'JOUR', 'LIBELLE_ARRET' et 'CATEGORIE_TITRE' et calculer la somme des 'NB_VALD'
donnees_aggreg = donnees_filtrees.groupby(['JOUR', 'LIBELLE_ARRET', 'CATEGORIE_TITRE'])['NB_VALD'].sum().reset_index()

# Conversion de la colonne 'JOUR' en datetime si ce n'est pas déjà fait
données_validation2['JOUR'] = pd.to_datetime(données_validation2['JOUR'], format='%d/%m/%Y')

# Filtrage des dates spécifiques
donnees_filtrees = données_validation2[(données_validation2['JOUR'] >= '2022-07-24') & (données_validation2['JOUR'] <= '2022-08-11')]

# Somme de NB_VALD par JOUR et par LIBELLE_ARRET
somme_par_jour_arret = donnees_filtrees.groupby(['JOUR', 'LIBELLE_ARRET'])['NB_VALD'].sum().reset_index()

moyenne_par_arret = somme_par_jour_arret.groupby('LIBELLE_ARRET')['NB_VALD'].mean().reset_index()

# Normalisation des libellés
moyenne_par_arret['LIBELLE_ARRET'] = moyenne_par_arret['LIBELLE_ARRET'].str.lower().str.strip()

# Somme des valeurs de NB_VALD pour les libellés normalisés
moyenne_par_arret = moyenne_par_arret.groupby('LIBELLE_ARRET')['NB_VALD'].sum().reset_index()

# Suppression des doublons
moyenne_par_arret = moyenne_par_arret.drop_duplicates(subset=['LIBELLE_ARRET'])

display(somme_par_jour_arret)
display(moyenne_par_arret)

            JOUR    LIBELLE_ARRET  NB_VALD
0     2022-07-24   ABBESSES           1867
1     2022-07-24            ABLON      600
2     2022-07-24    ACHERES GRAND       39
3     2022-07-24    ACHERES VILLE     3002
4     2022-07-24    AEROPORT CDG1     2955
...          ...              ...      ...
13776 2022-08-11           VOSVES       20
13777 2022-08-11  VULAINES SUR SE       44
13778 2022-08-11   WAGRAM             3063
13779 2022-08-11           YERRES     2729
13780 2022-08-11   YVRIS NOISY GD      342

[13781 rows x 3 columns]

       LIBELLE_ARRET      NB_VALD
0           abbesses  2277.315789
1              ablon  1101.105263
2      acheres grand    51.388889
3      acheres ville  3012.052632
4      aeroport cdg1  5050.947368
..               ...          ...
733           vosves    14.894737
734  vulaines sur se    42.894737
735           wagram  3268.157895
736           yerres  2743.000000
737   yvris noisy gd   307.105263

[738 rows x 2 columns]

In [82]:
import pandas as pd

# Vos données et numéro
# Assumons que vous avez déjà vos données dans un DataFrame nommé tableau_fréquentation
numéro = [1, 2, 3, '3bis', 4, 5, 6, 7, '7bis', 8, 9, 10, 11, 12, 13, 14]

# Création des tableaux pour chaque élément de numéro
tableaux = {}

colonnes_correspondance = ['Correspondance_1', 'Correspondance_2', 'Correspondance_3', 'Correspondance_4', 'Correspondance_5']

for k in numéro:
    # Convertir k en string car il peut contenir des valeurs non numériques
    k_str = str(k)
    
    # Filtrer les lignes où la valeur k est présente dans les colonnes spécifiées
    filtered_rows = tableau_fréquentation[tableau_fréquentation[colonnes_correspondance].apply(lambda x: k_str in x.values, axis=1)]
    
    # Stocker les lignes filtrées dans un tableau nommé "ligne numéro[k]"
    tableaux[f'ligne numéro[{k_str}]'] = filtered_rows

# Parcourir chaque tableau dans le dictionnaire et supprimer les colonnes spécifiées
for tableau_nom, tableau in tableaux.items():
    tableaux[tableau_nom] = tableau.drop(columns=colonnes_correspondance)

# Parcourir chaque tableau dans le dictionnaire
for tableau_nom, tableau in tableaux.items():
    # Calculer la fréquentation totale pour chaque tableau
    fréquentation_totale_ligne = tableau['Trafic'].sum()

    # Ajouter la variable fréquentation_totale à chaque tableau
    tableaux[tableau_nom]['fréquentation_totale_ligne'] = fréquentation_totale_ligne
    tableau['Trafic_divisé'] = tableau['Trafic'] / tableau['fréquentation_totale_ligne']

# Supposons que la clé pour la correspondance soit 'LIBELLE_ARRET' dans le tableau moyenne_par_arret
cle_correspondance = 'LIBELLE_ARRET'

# Nettoyage des espaces et uniformisation de la casse
moyenne_par_arret['LIBELLE_ARRET'] = moyenne_par_arret['LIBELLE_ARRET'].str.strip().str.lower()
for tableau_nom, tableau in tableaux.items():
    tableau['Station'] = tableau['Station'].str.strip().str.lower()

    # Fusion en utilisant les noms de stations nettoyés
    merged_table = pd.merge(tableau, moyenne_par_arret, left_on='Station', right_on='LIBELLE_ARRET', how='left')
    
    # Renommer la colonne NB_VALD de moyenne_par_arret
    merged_table = merged_table.rename(columns={'NB_VALD': 'fréquentation moyenne hors JO'})
    
    # Afficher le tableau mis à jour
    print(f"Tableau '{tableau_nom}':")
    display(merged_table)

for k in numéro:
    k_str = str(k)
    tableau = tableaux[f'ligne numéro[{k_str}]']
    tableau['fréquentation moyenne par jour hors JO par ligne'] = tableau['frequentation moy hors JO'] / tableau['nb_correspondance']
    
    # Calcul de la fréquentation totale hors JO
    fréquentation_totale_hors_JO = tableau['fréquentation moyenne hors JO'].sum()
    tableau['fréquentation totale hors JO'] = fréquentation_totale_hors_JO

    # Affichage du tableau mis à jour
    print(f"Tableau 'ligne numéro[{k_str}]' avec les nouvelles colonnes:")
    display(tableau)


for k in numéro:
    k_str = str(k)
    # Accéder aux tableaux spécifiques
    print(f"Tableau 'ligne numéro[{k_str}]':")
    display(tableaux[f'ligne numéro[{k_str}]'])

Tableau 'ligne numéro[1]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,3,gare de lyon,5728095.0,5,27894284.0,0.205350,gare de lyon,66037.947368
1,58,saint-mande-tourelle,788928.0,5,27894284.0,0.028283,NaN,NaN
2,192,louvre,373922.4,5,27894284.0,0.013405,louvre,4374.473684
3,25,porte de vincennes,1089320.4,5,27894284.0,0.039052,NaN,NaN
4,51,porte maillot,827660.2,5,27894284.0,0.029671,porte maillot,7384.429150
5,71,chateau de vincennes,723547.6,5,27894284.0,0.025939,NaN,NaN
6,10,chatelet,1670158.8,5,27894284.0,0.059875,chatelet,87779.526316
7,41,pont de neuilly,961900.6,5,27894284.0,0.034484,NaN,NaN
8,43,esplanade de la defense,941636.6,5,27894284.0,0.033757,NaN,NaN
9,46,saint-paul,859164.6,5,27894284.0,0.030801,saint-paul,8427.157895
10,47,charles de gaulle-etoile,858332.6,5,27894284.0,0.030771,NaN,NaN
11,57,les sablons,790984.0,5,27894284.0,0.028356,les sablons,8449.894737
12,9,la defense,1851360.4,5,27894284.0,0.066371,la defense,77993.842105
13,13,hotel de ville,1450345.8,5,27894284.0,0.051994,hotel de ville,15023.947368
14,40,palais-royal,964519.8,5,27894284.0,0.034578,palais-royal,12183.368421
15,86,concorde,680243.8,5,27894284.0,0.024386,concorde,9636.526316
16,172,argentine,415842.4,5,27894284.0,0.014908,argentine,4396.631579
17,187,champs-elysees-clemenceau,381801.0,5,27894284.0,0.013687,NaN,NaN
18,194,tuileries,371910.4,5,27894284.0,0.013333,tuileries,4690.315789
19,11,bastille,1613848.6,5,27894284.0,0.057856,bastille,15795.736842
20,18,franklin d. roosevelt,1234766.0,5,27894284.0,0.044266,NaN,NaN
21,20,nation,1210159.4,5,27894284.0,0.043384,nation,19465.157895
22,44,reuilly-diderot,916018.2,5,27894284.0,0.032839,NaN,NaN
23,63,george v,768452.0,5,27894284.0,0.027549,george v,9588.473684
24,169,berault,421365.4,5,27894284.0,0.015106,berault,4024.473684

Tableau 'ligne numéro[2]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,12,belleville,1462887.6,5,16877281.0,0.086678,belleville,16611.631579
1,104,colonel fabien,608721.2,5,16877281.0,0.036067,colonel fabien,6090.315789
2,118,menilmontant,569452.8,5,16877281.0,0.033741,menilmontant,5824.315789
3,163,blanche,433514.0,5,16877281.0,0.025686,blanche,4236.421053
4,256,philippe auguste,252530.6,5,16877281.0,0.014963,NaN,NaN
5,268,monceau,229735.4,5,16877281.0,0.013612,monceau,2529.789474
6,33,place clichy,1032386.4,5,16877281.0,0.061170,place clichy,10922.736842
7,38,la chapelle,971106.2,5,16877281.0,0.057539,la chapelle,13644.368421
8,52,jaures,811092.2,5,16877281.0,0.048058,jaures,11482.421053
9,249,avron,269104.2,5,16877281.0,0.015945,avron,2578.736842
10,36,stalingrad,984916.6,5,16877281.0,0.058358,stalingrad,7590.894737
11,47,charles de gaulle-etoile,858332.6,5,16877281.0,0.050857,NaN,NaN
12,81,pere lachaise,693061.4,5,16877281.0,0.041065,NaN,NaN
13,166,couronnes,430303.0,5,16877281.0,0.025496,couronnes,4497.789474
14,177,porte dauphine,404331.2,5,16877281.0,0.023957,porte dauphine,3295.684211
15,211,rome,339266.2,5,16877281.0,0.020102,rome,3057.421053
16,123,victor hugo,560208.2,5,16877281.0,0.033193,victor hugo,5284.210526
17,137,alexandre dumas,495321.6,5,16877281.0,0.029348,NaN,NaN
18,20,nation,1210159.4,5,16877281.0,0.071703,nation,19465.157895
19,26,barbes-rochechouart,1078187.8,5,16877281.0,0.063884,NaN,NaN
20,72,villiers,717275.2,5,16877281.0,0.042499,villiers,6554.789474
21,77,pigalle,700366.2,5,16877281.0,0.041498,pigalle,6591.263158
22,85,anvers,684149.8,5,16877281.0,0.040537,anvers,6515.157895
23,149,ternes,458451.2,5,16877281.0,0.027164,ternes,4832.631579
24,224,courcelles,316685.8,5,16877281.0,0.018764,courcelles,3163.684211
25,232,funiculaire,305734.2,5,16877281.0,0.018115,funiculaire,4471.315789

Tableau 'ligne numéro[3]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,32,opera,1038766.2,5,21409816.0,0.048518,opera,14472.578947
1,97,pereire,626038.0,5,21409816.0,0.029241,pereire,4019.000000
2,60,gallieni,779839.0,5,21409816.0,0.036424,gallieni,9317.105263
3,73,reaumur-sebastopol,715908.8,5,21409816.0,0.033438,NaN,NaN
4,156,sentier,444548.8,5,21409816.0,0.020764,sentier,4861.157895
5,287,temple,178371.6,5,21409816.0,0.008331,temple,1677.368421
6,21,havre-caumartin,1178996.4,5,21409816.0,0.055068,NaN,NaN
7,42,gambetta,959344.8,5,21409816.0,0.044809,gambetta,10052.105263
8,81,pere lachaise,693061.4,5,21409816.0,0.032371,NaN,NaN
9,178,saint-maur,400889.0,5,21409816.0,0.018725,saint-maur,3684.578947
10,205,bourse,345008.6,5,21409816.0,0.016115,bourse,4329.052632
11,235,wagram,301723.4,5,21409816.0,0.014093,wagram,3268.157895
12,265,quatre-septembre,233000.8,5,21409816.0,0.010883,NaN,NaN
13,7,republique,2215941.6,5,21409816.0,0.103501,republique,24475.263158
14,101,porte de bagnolet,617158.0,5,21409816.0,0.028826,NaN,NaN
15,145,louise michel,463837.0,5,21409816.0,0.021665,louise michel,5242.578947
16,241,malesherbes,285428.6,5,21409816.0,0.013332,malesherbes,1430.210526
17,2,saint-lazare,6625676.8,5,21409816.0,0.309469,saint-lazare,127163.368421
18,72,villiers,717275.2,5,21409816.0,0.033502,villiers,6554.789474
19,111,pont de levallois-becon,596955.4,5,21409816.0,0.027882,NaN,NaN
20,140,arts et metiers,480608.4,5,21409816.0,0.022448,NaN,NaN
21,147,anatole france,462365.0,5,21409816.0,0.021596,anatole france,5204.210526
22,170,porte de champerret,420334.6,5,21409816.0,0.019633,NaN,NaN
23,175,parmentier,407446.8,5,21409816.0,0.019031,parmentier,3832.263158
24,275,europe,221291.8,5,21409816.0,0.010336,europe,2217.578947

Tableau 'ligne numéro[3bis]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,42,gambetta,959344.8,5,1720704.4,0.557530,gambetta,10052.105263
1,304,pelleport,45904.8,5,1720704.4,0.026678,pelleport,403.473684
2,98,porte des lilas,621003.2,5,1720704.4,0.360901,NaN,NaN
3,298,saint-fargeau,94451.6,5,1720704.4,0.054891,saint-fargeau,1053.157895

Tableau 'ligne numéro[4]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,206,etienne marcel,341127.8,5,31804678.2,0.010726,etienne marcel,3454.789474
1,4,montparnasse-bienvenue,4081444.8,5,31804678.2,0.128328,NaN,NaN
2,8,les halles,2124775.2,5,31804678.2,0.066807,les halles,26675.157895
3,16,strasbourg-saint-denis,1269154.0,5,31804678.2,0.039905,NaN,NaN
4,22,chateau rouge,1168224.4,5,31804678.2,0.036731,chateau rouge,14320.578947
5,24,porte de clignancourt,1122362.8,5,31804678.2,0.035289,NaN,NaN
6,45,mairie de montrouge,863329.4,5,31804678.2,0.027145,NaN,NaN
7,49,porte d'orleans,835163.4,5,31804678.2,0.026259,NaN,NaN
8,73,reaumur-sebastopol,715908.8,5,31804678.2,0.022510,NaN,NaN
9,271,mouton-duvernet,226280.6,5,31804678.2,0.007115,NaN,NaN
10,10,chatelet,1670158.8,5,31804678.2,0.052513,chatelet,87779.526316
11,65,saint-michel,749477.0,5,31804678.2,0.023565,saint-michel,13713.000000
12,142,saint-germain des pres,475772.0,5,31804678.2,0.014959,NaN,NaN
13,225,saint-sulpice,314397.4,5,31804678.2,0.009885,saint-sulpice,2981.578947
14,80,odeon,695698.2,5,31804678.2,0.021874,odeon,6912.105263
15,100,alesia,619627.2,5,31804678.2,0.019482,alesia,6434.052632
16,141,saint-placide,478241.0,5,31804678.2,0.015037,saint-placide,4064.052632
17,173,simplon,411300.2,5,31804678.2,0.012932,simplon,4404.578947
18,259,raspail,247671.4,5,31804678.2,0.007787,raspail,2189.210526
19,284,cite,200931.4,5,31804678.2,0.006318,cite,2384.105263
20,1,gare du nord,6900619.4,5,31804678.2,0.216969,gare du nord,60604.736842
21,5,gare de l'est,3107694.2,5,31804678.2,0.097712,gare de l'est,88998.789474
22,26,barbes-rochechouart,1078187.8,5,31804678.2,0.033900,NaN,NaN
23,55,marcadet-poissonniers,796401.0,5,31804678.2,0.025040,NaN,NaN
24,129,chateau d'eau,537420.6,5,31804678.2,0.016898,chateau d'eau,6241.789474
25,133,denfert-rochereau,508791.8,5,31804678.2,0.015997,NaN,NaN
26,250,vavin,264517.6,5,31804678.2,0.008317,vavin,2174.526316

Tableau 'ligne numéro[5]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,59,hoche,785680.8,5,25645404.2,0.030636,hoche,9321.947368
1,14,place d'italie,1423819.4,5,25645404.2,0.055519,place d'italie,15987.631579
2,52,jaures,811092.2,5,25645404.2,0.031627,jaures,11482.421053
3,89,porte de pantin,674946.6,5,25645404.2,0.026318,NaN,NaN
4,119,eglise de pantin,566493.4,5,25645404.2,0.022089,NaN,NaN
5,213,saint-marcel,333348.8,5,25645404.2,0.012998,saint-marcel,3196.052632
6,228,richard lenoir,308927.2,5,25645404.2,0.012046,richard lenoir,2903.789474
7,289,quai de la rapee,159745.6,5,25645404.2,0.006229,NaN,NaN
8,15,bobigny-pablo picasso,1312265.4,5,25645404.2,0.051170,NaN,NaN
9,17,gare d'austerlitz,1263708.6,5,25645404.2,0.049276,NaN,NaN
10,36,stalingrad,984916.6,5,25645404.2,0.038405,stalingrad,7590.894737
11,144,bobigny-pantin-raymond queneau,467093.0,5,25645404.2,0.018214,NaN,NaN
12,201,jacques bonsergent,348797.8,5,25645404.2,0.013601,NaN,NaN
13,7,republique,2215941.6,5,25645404.2,0.086407,republique,24475.263158
14,94,laumiere,651713.6,5,25645404.2,0.025412,laumiere,6765.526316
15,96,oberkampf,641022.0,5,25645404.2,0.024996,oberkampf,6397.052632
16,116,ourcq,572467.4,5,25645404.2,0.022322,ourcq,5862.842105
17,1,gare du nord,6900619.4,5,25645404.2,0.269078,gare du nord,60604.736842
18,5,gare de l'est,3107694.2,5,25645404.2,0.121179,gare de l'est,88998.789474
19,11,bastille,1613848.6,5,25645404.2,0.062929,bastille,15795.736842
20,237,breguet-sabin,298032.0,5,25645404.2,0.011621,breguet-sabin,3034.105263
21,283,campo-formio,203230.0,5,25645404.2,0.007925,campo-formio,1776.789474

Tableau 'ligne numéro[6]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,61,bercy,776842.4,5,18462403.0,0.042077,bercy,9023.947368
1,70,daumesnil,726804.6,5,18462403.0,0.039367,daumesnil,7853.000000
2,107,glaciere,601150.0,5,18462403.0,0.032561,glaciere,5983.578947
3,176,dupleix,405792.6,5,18462403.0,0.021979,dupleix,4777.578947
4,202,quai de la gare,347093.0,5,18462403.0,0.018800,NaN,NaN
5,218,cambronne,327313.2,5,18462403.0,0.017729,cambronne,3779.526316
6,220,bel air,321114.6,5,18462403.0,0.017393,bel air,3080.947368
7,226,corvisart,314066.2,5,18462403.0,0.017011,corvisart,2972.421053
8,258,sevres-lecourbe,251408.0,5,18462403.0,0.013617,NaN,NaN
9,293,kleber,144843.0,5,18462403.0,0.007845,kleber,2043.526316
10,4,montparnasse-bienvenue,4081444.8,5,18462403.0,0.221068,NaN,NaN
11,14,place d'italie,1423819.4,5,18462403.0,0.077120,place d'italie,15987.631579
12,34,la motte-picquet-grenelle,1023541.6,5,18462403.0,0.055439,NaN,NaN
13,124,chevaleret,549739.2,5,18462403.0,0.029776,chevaleret,6399.789474
14,204,dugommier,345082.4,5,18462403.0,0.018691,dugommier,3879.157895
15,248,edgar quinet,269835.6,5,18462403.0,0.014615,edgar quinet,2849.631579
16,286,picpus,186320.4,5,18462403.0,0.010092,picpus,1720.578947
17,28,trocadero,1056826.8,5,18462403.0,0.057242,trocadero,12066.631579
18,47,charles de gaulle-etoile,858332.6,5,18462403.0,0.046491,NaN,NaN
19,105,pasteur,605257.2,5,18462403.0,0.032783,pasteur,6307.736842
20,259,raspail,247671.4,5,18462403.0,0.013415,raspail,2189.210526
21,260,boissiere,244836.2,5,18462403.0,0.013261,boissiere,2718.684211
22,20,nation,1210159.4,5,18462403.0,0.065547,nation,19465.157895
23,90,bir-hakeim,672581.6,5,18462403.0,0.036430,bir-hakeim,7065.631579
24,133,denfert-rochereau,508791.8,5,18462403.0,0.027558,NaN,NaN
25,171,passy,416109.6,5,18462403.0,0.022538,passy,4849.894737
26,245,saint-jacques,281567.4,5,18462403.0,0.015251,saint-jacques,2810.947368
27,251,nationale,264058.0,5,18462403.0,0.014302,nationale,4385.421053

Tableau 'ligne numéro[7]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,32,opera,1038766.2,5,24307527.0,0.042734,opera,14472.578947
1,195,cadet,368796.8,5,24307527.0,0.015172,cadet,3839.052632
2,14,place d'italie,1423819.4,5,24307527.0,0.058575,place d'italie,15987.631579
3,48,chaussee d'antin-la fayette,850383.2,5,24307527.0,0.034984,NaN,NaN
4,114,jussieu,577928.4,5,24307527.0,0.023776,jussieu,3937.894737
5,148,poissonniere,461345.0,5,24307527.0,0.018980,poissonniere,4428.000000
6,153,tolbiac,457583.6,5,24307527.0,0.018825,tolbiac,5541.157895
7,182,villejuif-leo lagrange,390525.4,5,24307527.0,0.016066,NaN,NaN
8,221,porte de choisy,318428.8,5,24307527.0,0.013100,NaN,NaN
9,223,riquet,317687.6,5,24307527.0,0.013070,riquet,3386.263158
10,253,porte d'ivry,256439.8,5,24307527.0,0.010550,porte d'ivry,3726.210526
11,264,pont neuf,237786.0,5,24307527.0,0.009782,NaN,NaN
12,276,pont marie,220296.4,5,24307527.0,0.009063,pont marie,2478.368421
13,277,pierre curie,220110.4,5,24307527.0,0.009055,pierre curie,2285.473684
14,10,chatelet,1670158.8,5,24307527.0,0.068710,chatelet,87779.526316
15,23,aubervilliers-pantin-quatre chemins,1123287.0,5,24307527.0,0.046211,NaN,NaN
16,36,stalingrad,984916.6,5,24307527.0,0.040519,stalingrad,7590.894737
17,37,la courneuve-8 mai 1945,984888.8,5,24307527.0,0.040518,NaN,NaN
18,75,crimee,708790.4,5,24307527.0,0.029159,crimee,7999.210526
19,196,place monge,367599.2,5,24307527.0,0.015123,place monge,3669.263158
20,209,corentin cariou,339415.2,5,24307527.0,0.013963,NaN,NaN
21,212,le peletier,335566.4,5,24307527.0,0.013805,le peletier,4198.105263
22,227,louis blanc,309605.8,5,24307527.0,0.012737,louis blanc,3331.578947
23,30,villejuif-louis aragon,1043614.0,5,24307527.0,0.042934,NaN,NaN
24,40,palais-royal,964519.8,5,24307527.0,0.039680,palais-royal,12183.368421
25,99,fort d'aubervilliers,620703.6,5,24307527.0,0.025535,NaN,NaN
26,126,porte de la villette,541257.6,5,24307527.0,0.022267,NaN,NaN
27,150,censier-daubenton,458368.6,5,24307527.0,0.018857,NaN,NaN
28,5,gare de l'est,3107694.2,5,24307527.0,0.127849,gare de l'est,88998.789474
29,56,pyramides,792539.6,5,24307527.0,0.032605,pyramides,8558.263158
30,112,le kremlin-bicetre,585065.0,5,24307527.0,0.024069,NaN,NaN
31,143,les gobelins,473188.4,5,24307527.0,0.019467,les gobelins,4553.631579
32,174,mairie d'ivry,408414.2,5,24307527.0,0.016802,mairie d'ivry,4988.684211
33,200,villejuif-paul vaillant-couturier,352975.8,5,24307527.0,0.014521,NaN,NaN
34,236,porte d'italie,301430.4,5,24307527.0,0.012401,porte d'italie,3480.157895
35,262,maison blanche,240726.2,5,24307527.0,0.009903,maison blanche,2659.105263
36,270,chateau-landon,228070.6,5,24307527.0,0.009383,chateau-landon,3843.684211
37,272,sully-morland,224833.8,5,24307527.0,0.009250,sully-morland,2242.684211

Tableau 'ligne numéro[7bis]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,146,place des fetes,463752.8,5,2000051.8,0.231870,NaN,NaN
1,294,botzaris,133864.6,5,2000051.8,0.066931,botzaris,1217.473684
2,301,bolivar,73519.6,5,2000051.8,0.036759,bolivar,607.789474
3,52,jaures,811092.2,5,2000051.8,0.405536,jaures,11482.421053
4,299,danube,80031.4,5,2000051.8,0.040015,danube,751.526316
5,303,pre-saint-gervais,56525.2,5,2000051.8,0.028262,NaN,NaN
6,227,louis blanc,309605.8,5,2000051.8,0.154799,louis blanc,3331.578947
7,302,buttes-chaumont,71660.2,5,2000051.8,0.035829,NaN,NaN

Tableau 'ligne numéro[8]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,32,opera,1038766.2,5,22652085.2,0.045857,opera,14472.578947
1,70,daumesnil,726804.6,5,22652085.2,0.032086,daumesnil,7853.000000
2,95,balard,647360.2,5,22652085.2,0.028578,balard,9252.578947
3,108,richelieu-drouot,598902.0,5,22652085.2,0.026439,NaN,NaN
4,160,faidherbe-chaligny,438083.2,5,22652085.2,0.019340,NaN,NaN
5,164,charenton-ecoles,432804.6,5,22652085.2,0.019107,NaN,NaN
6,208,maisons-alfort-stade,340495.8,5,22652085.2,0.015032,NaN,NaN
7,214,creteil-l'echat,332024.0,5,22652085.2,0.014658,NaN,NaN
8,252,maisons-alfort-les juilliottes,259499.0,5,22652085.2,0.011456,NaN,NaN
9,16,strasbourg-saint-denis,1269154.0,5,22652085.2,0.056028,NaN,NaN
10,27,madeleine,1066185.6,5,22652085.2,0.047068,madeleine,12904.421053
11,34,la motte-picquet-grenelle,1023541.6,5,22652085.2,0.045185,NaN,NaN
12,120,bonne nouvelle,561245.4,5,22652085.2,0.024777,bonne nouvelle,5636.052632
13,135,creteil-universite,499319.0,5,22652085.2,0.022043,NaN,NaN
14,154,ecole veterinaire de maisons-alfort,453897.4,5,22652085.2,0.020038,NaN,NaN
15,157,commerce,442533.2,5,22652085.2,0.019536,commerce,4320.578947
16,231,porte de charenton,305955.6,5,22652085.2,0.013507,NaN,NaN
17,279,filles du calvaire,218734.6,5,22652085.2,0.009656,NaN,NaN
18,282,chemin vert,203791.6,5,22652085.2,0.008997,NaN,NaN
19,79,invalides,696416.0,5,22652085.2,0.030744,invalides,5211.315789
20,152,boucicaut,457611.0,5,22652085.2,0.020202,boucicaut,4774.473684
21,168,creteil-pointe du lac,422887.6,5,22652085.2,0.018669,NaN,NaN
22,210,lourmel,339286.4,5,22652085.2,0.014978,lourmel,3250.947368
23,274,montgallet,221679.0,5,22652085.2,0.009786,montgallet,2219.105263
24,7,republique,2215941.6,5,22652085.2,0.097825,republique,24475.263158
25,86,concorde,680243.8,5,22652085.2,0.030030,concorde,9636.526316
26,92,creteil-prefecture,666120.4,5,22652085.2,0.029407,NaN,NaN
27,121,ecole militaire,561195.2,5,22652085.2,0.024775,NaN,NaN
28,131,ledru-rollin,514056.6,5,22652085.2,0.022694,ledru-rollin,5329.105263
29,186,porte doree,383636.4,5,22652085.2,0.016936,porte doree,4567.684211
30,267,saint-sebastien-froissart,230238.4,5,22652085.2,0.010164,NaN,NaN
31,11,bastille,1613848.6,5,22652085.2,0.071245,bastille,15795.736842
32,44,reuilly-diderot,916018.2,5,22652085.2,0.040439,NaN,NaN
33,66,grands boulevards,747463.2,5,22652085.2,0.032998,NaN,NaN
34,207,liberte,340921.8,5,22652085.2,0.015050,liberte,4155.842105
35,246,michel bizot,280683.2,5,22652085.2,0.012391,michel bizot,3006.105263
36,247,la tour-maubourg,272344.6,5,22652085.2,0.012023,NaN,NaN
37,266,felix faure,232395.6,5,22652085.2,0.010259,felix faure,2365.421053

Tableau 'ligne numéro[9]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,108,richelieu-drouot,598902.0,5,28208157.4,0.021232,NaN,NaN
1,165,saint-ambroise,431693.2,5,28208157.4,0.015304,saint-ambroise,3920.947368
2,215,iena,329385.0,5,28208157.4,0.011677,iena,3662.157895
3,219,exelmans,321444.6,5,28208157.4,0.011395,exelmans,2908.000000
4,240,buzenval,289771.0,5,28208157.4,0.010273,buzenval,3053.842105
5,16,strasbourg-saint-denis,1269154.0,5,28208157.4,0.044992,NaN,NaN
6,48,chaussee d'antin-la fayette,850383.2,5,28208157.4,0.030147,NaN,NaN
7,83,pont de sevres,686040.6,5,28208157.4,0.024321,pont de sevres,8493.000000
8,103,porte de montreuil,613482.6,5,28208157.4,0.021748,NaN,NaN
9,106,la muette,602074.0,5,28208157.4,0.021344,la muette,4269.684211
10,120,bonne nouvelle,561245.4,5,28208157.4,0.019897,bonne nouvelle,5636.052632
11,127,charonne,541064.0,5,28208157.4,0.019181,charonne,5473.842105
12,132,alma-marceau,512968.4,5,28208157.4,0.018185,alma-marceau,6891.842105
13,184,saint-philippe-du-roule,387000.8,5,28208157.4,0.013719,NaN,NaN
14,21,havre-caumartin,1178996.4,5,28208157.4,0.041796,NaN,NaN
15,28,trocadero,1056826.8,5,28208157.4,0.037465,trocadero,12066.631579
16,68,croix de chavaux,745909.0,5,28208157.4,0.026443,NaN,NaN
17,69,miromesnil,729451.0,5,28208157.4,0.025860,miromesnil,8603.789474
18,82,voltaire,690801.2,5,28208157.4,0.024489,voltaire,7185.210526
19,109,robespierre,597261.6,5,28208157.4,0.021173,robespierre,6743.894737
20,138,rue de la pompe,489891.6,5,28208157.4,0.017367,NaN,NaN
21,197,rue des boulets,366488.4,5,28208157.4,0.012992,NaN,NaN
22,244,jasmin,283647.6,5,28208157.4,0.010056,jasmin,3009.052632
23,96,oberkampf,641022.0,5,28208157.4,0.022725,oberkampf,6397.052632
24,185,saint-augustin,386821.2,5,28208157.4,0.013713,saint-augustin,4170.842105
25,2,saint-lazare,6625676.8,5,28208157.4,0.234885,saint-lazare,127163.368421
26,18,franklin d. roosevelt,1234766.0,5,28208157.4,0.043773,NaN,NaN
27,19,mairie de montreuil,1231697.4,5,28208157.4,0.043665,NaN,NaN
28,62,marcel sembat,774958.4,5,28208157.4,0.027473,marcel sembat,8224.368421
29,66,grands boulevards,747463.2,5,28208157.4,0.026498,NaN,NaN
30,78,porte de saint-cloud,697189.2,5,28208157.4,0.024716,NaN,NaN
31,179,maraichers,398812.8,5,28208157.4,0.014138,maraichers,4258.263158
32,180,billancourt,393506.4,5,28208157.4,0.013950,billancourt,4103.684211
33,199,ranelagh,355841.2,5,28208157.4,0.012615,ranelagh,3152.842105
34,234,michel-ange-auteuil,302410.0,5,28208157.4,0.010721,NaN,NaN
35,243,michel-ange-molitor,284110.4,5,28208157.4,0.010072,NaN,NaN

Tableau 'ligne numéro[10]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,102,charles michels,615913.8,5,9207428.0,0.066893,NaN,NaN
1,254,maubert-mutualite,256077.4,5,9207428.0,0.027812,NaN,NaN
2,273,cardinal lemoine,224370.8,5,9207428.0,0.024368,NaN,NaN
3,292,vaneau,145165.2,5,9207428.0,0.015766,vaneau,1291.000000
4,305,eglise d'auteuil,24988.2,5,9207428.0,0.002714,NaN,NaN
5,34,la motte-picquet-grenelle,1023541.6,5,9207428.0,0.111165,NaN,NaN
6,88,sevres-babylone,678500.8,5,9207428.0,0.073691,NaN,NaN
7,114,jussieu,577928.4,5,9207428.0,0.062768,jussieu,3937.894737
8,17,gare d'austerlitz,1263708.6,5,9207428.0,0.137249,NaN,NaN
9,130,duroc,529012.8,5,9207428.0,0.057455,duroc,4608.526316
10,281,avenue emile zola,208246.6,5,9207428.0,0.022617,NaN,NaN
11,285,mirabeau,200260.4,5,9207428.0,0.021750,mirabeau,2004.157895
12,297,chardon-lagache,96410.6,5,9207428.0,0.010471,NaN,NaN
13,80,odeon,695698.2,5,9207428.0,0.075558,odeon,6912.105263
14,128,boulogne-jean jaures,540070.8,5,9207428.0,0.058656,NaN,NaN
15,161,boulogne-pont de saint-cloud,436547.6,5,9207428.0,0.047413,NaN,NaN
16,257,cluny la sorbonne,252363.6,5,9207428.0,0.027409,NaN,NaN
17,263,mabillon,239010.2,5,9207428.0,0.025958,mabillon,2351.263158
18,278,segur,220030.2,5,9207428.0,0.023897,segur,1957.210526
19,222,javel-andre citroen,317912.2,5,9207428.0,0.034528,NaN,NaN
20,234,michel-ange-auteuil,302410.0,5,9207428.0,0.032844,NaN,NaN
21,243,michel-ange-molitor,284110.4,5,9207428.0,0.030857,NaN,NaN
22,300,porte d'auteuil,75149.6,5,9207428.0,0.008162,NaN,NaN

Tableau 'ligne numéro[11]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,12,belleville,1462887.6,5,7084175.6,0.206501,belleville,16611.631579
1,146,place des fetes,463752.8,5,7084175.6,0.065463,NaN,NaN
2,151,pyrenees,457717.4,5,7084175.6,0.064611,pyrenees,3569.684211
3,159,goncourt,439834.0,5,7084175.6,0.062087,goncourt,4294.736842
4,167,rambuteau,425458.2,5,7084175.6,0.060058,rambuteau,4739.052632
5,217,telegraphe,327379.6,5,7084175.6,0.046213,telegraphe,4521.631579
6,13,hotel de ville,1450345.8,5,7084175.6,0.204730,hotel de ville,15023.947368
7,113,mairie des lilas,578924.4,5,7084175.6,0.081721,NaN,NaN
8,98,porte des lilas,621003.2,5,7084175.6,0.087661,NaN,NaN
9,140,arts et metiers,480608.4,5,7084175.6,0.067843,NaN,NaN
10,190,jourdain,376264.2,5,7084175.6,0.053113,jourdain,4444.157895

Tableau 'ligne numéro[12]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,242,rue du bac,284672.8,5,23051055.6,0.012350,rue du bac,2642.842105
1,288,rennes,172266.8,5,23051055.6,0.007473,rennes,1546.052632
2,4,montparnasse-bienvenue,4081444.8,5,23051055.6,0.177061,NaN,NaN
3,27,madeleine,1066185.6,5,23051055.6,0.046253,madeleine,12904.421053
4,88,sevres-babylone,678500.8,5,23051055.6,0.029435,NaN,NaN
5,115,mairie d'issy,574827.6,5,23051055.6,0.024937,mairie d'issy,6616.526316
6,188,notre-dame-de-lorette,378765.6,5,23051055.6,0.016432,NaN,NaN
7,93,porte de versailles,653631.4,5,23051055.6,0.028356,NaN,NaN
8,136,vaugirard,496577.2,5,23051055.6,0.021542,vaugirard,4768.736842
9,139,marx dormoy,485185.6,5,23051055.6,0.021048,marx dormoy,5344.315789
10,183,front populaire,389708.4,5,23051055.6,0.016906,NaN,NaN
11,193,porte de la chapelle,373256.2,5,23051055.6,0.016193,NaN,NaN
12,203,volontaires,346969.6,5,23051055.6,0.015052,volontaires,2577.937500
13,255,solferino,253828.6,5,23051055.6,0.011012,solferino,3486.421053
14,295,falguiere,130058.2,5,23051055.6,0.005642,falguiere,1134.157895
15,86,concorde,680243.8,5,23051055.6,0.029510,concorde,9636.526316
16,105,pasteur,605257.2,5,23051055.6,0.026257,pasteur,6307.736842
17,233,abbesses,302776.8,5,23051055.6,0.013135,abbesses,2277.315789
18,280,trinite-d'estienne d'orves,210396.4,5,23051055.6,0.009127,NaN,NaN
19,291,saint-georges,150311.0,5,23051055.6,0.006521,saint-georges,1449.105263
20,296,assemblee nationale,122302.4,5,23051055.6,0.005306,NaN,NaN
21,2,saint-lazare,6625676.8,5,23051055.6,0.287435,saint-lazare,127163.368421
22,55,marcadet-poissonniers,796401.0,5,23051055.6,0.034549,NaN,NaN
23,67,convention,746950.0,5,23051055.6,0.032404,convention,7157.157895
24,77,pigalle,700366.2,5,23051055.6,0.030383,pigalle,6591.263158
25,117,jules joffrin,570963.8,5,23051055.6,0.024770,jules joffrin,5607.000000
26,134,corentin celton,500936.4,5,23051055.6,0.021732,NaN,NaN
27,191,lamarck-caulaincourt,375143.4,5,23051055.6,0.016274,NaN,NaN
28,238,notre-dame-des-champs,297451.2,5,23051055.6,0.012904,NaN,NaN

Tableau 'ligne numéro[13]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,74,saint-denis-universite,713998.0,5,16957848.6,0.042104,NaN,NaN
1,122,les courtilles,560537.8,5,16957848.6,0.033055,les courtilles,8152.789474
2,125,porte de saint-ouen,542127.6,5,16957848.6,0.031969,NaN,NaN
3,29,porte de clichy,1055699.4,5,16957848.6,0.062254,NaN,NaN
4,33,place clichy,1032386.4,5,16957848.6,0.060880,place clichy,10922.736842
5,87,porte de vanves,679071.6,5,16957848.6,0.040045,NaN,NaN
6,162,pernety,434713.4,5,16957848.6,0.025635,pernety,4404.263158
7,230,carrefour pleyel,307105.6,5,16957848.6,0.018110,NaN,NaN
8,64,gabriel peri,758114.6,5,16957848.6,0.044706,gabriel peri,9837.842105
9,69,miromesnil,729451.0,5,16957848.6,0.043016,miromesnil,8603.789474
10,79,invalides,696416.0,5,16957848.6,0.041067,invalides,5211.315789
11,91,saint-denis-porte de paris,671167.2,5,16957848.6,0.039579,NaN,NaN
12,130,duroc,529012.8,5,16957848.6,0.031196,duroc,4608.526316
13,216,gaite,328829.6,5,16957848.6,0.019391,gaite,3469.210526
14,229,brochant,308659.6,5,16957848.6,0.018202,brochant,3272.526316
15,261,saint-francois-xavier,242675.6,5,16957848.6,0.014311,NaN,NaN
16,269,liege,228791.2,5,16957848.6,0.013492,liege,2338.210526
17,54,basilique de saint-denis,798279.0,5,16957848.6,0.047074,NaN,NaN
18,76,plaisance,704350.6,5,16957848.6,0.041535,plaisance,7378.736842
19,155,malakoff-plateau de vanves,448464.0,5,16957848.6,0.026446,NaN,NaN
20,158,guy moquet,441062.6,5,16957848.6,0.026009,guy moquet,5378.578947
21,187,champs-elysees-clemenceau,381801.0,5,16957848.6,0.022515,NaN,NaN
22,189,les agnettes,378071.2,5,16957848.6,0.022295,les agnettes,4123.315789
23,198,la fourche,365854.2,5,16957848.6,0.021574,la fourche,3468.052632
24,290,varenne,156539.4,5,16957848.6,0.009231,varenne,1845.105263
25,35,chatillon-montrouge,1006802.4,5,16957848.6,0.059371,NaN,NaN
26,39,mairie de saint-ouen,966162.0,5,16957848.6,0.056974,NaN,NaN
27,53,mairie de clichy,808614.2,5,16957848.6,0.047684,NaN,NaN
28,181,garibaldi,393000.4,5,16957848.6,0.023175,garibaldi,4072.000000
29,239,malakoff-rue etienne dolet,290090.2,5,16957848.6,0.017107,NaN,NaN

Tableau 'ligne numéro[14]':

,Rang,Station,Trafic,nb_correspondance,fréquentation_totale_ligne,Trafic_divisé,LIBELLE_ARRET,fréquentation moyenne hors JO
0,3,gare de lyon,5728095.0,5,15764240.2,0.363360,gare de lyon,66037.947368
1,61,bercy,776842.4,5,15764240.2,0.049279,bercy,9023.947368
2,27,madeleine,1066185.6,5,15764240.2,0.067633,madeleine,12904.421053
3,29,porte de clichy,1055699.4,5,15764240.2,0.066968,NaN,NaN
4,110,cour saint-emilion,597024.4,5,15764240.2,0.037872,NaN,NaN
5,6,bibliotheque,2220894.8,5,15764240.2,0.140882,bibliotheque,6088.000000
6,31,olympiades,1042919.0,5,15764240.2,0.066157,olympiades,12997.142857
7,39,mairie de saint-ouen,966162.0,5,15764240.2,0.061288,NaN,NaN
8,50,pont cardinet,833707.6,5,15764240.2,0.052886,pont cardinet,9483.263158
9,56,pyramides,792539.6,5,15764240.2,0.050275,pyramides,8558.263158
10,84,clichy saint-ouen,684170.4,5,15764240.2,0.043400,NaN,NaN

KeyError: 'frequentation moy hors JO'

In [84]:
import difflib

# Méthode pour trouver des correspondances similaires
def find_similar_strings(target, candidates, threshold):
    matches = difflib.get_close_matches(target, candidates, n=1, cutoff=threshold)
    return matches[0] if matches else None

# Utilisation pour trouver des correspondances entre 'Station' et 'LIBELLE_ARRET'
threshold = 0.6  # Seuil de similarité
for tableau_nom, tableau in tableaux.items():
    merged_table = pd.merge(tableau, moyenne_par_arret, left_on='Station', right_on='LIBELLE_ARRET', how='left')

    # Logique pour trouver des correspondances similaires
    for i, row in merged_table.iterrows():
        station_name = row['Station']
        libelle_arret_names = moyenne_par_arret['LIBELLE_ARRET'].tolist()
        
        # Trouver une correspondance similaire
        similar_match = find_similar_strings(station_name, libelle_arret_names, threshold)
        
        # Si une correspondance est trouvée, remplacer la valeur
        if similar_match:
            merged_table.at[i, 'LIBELLE_ARRET'] = similar_match
    
    # Grouper les données par LIBELLE_ARRET et obtenir les valeurs uniques
    grouped = merged_table.groupby('LIBELLE_ARRET')['fréquentation moyenne hors JO'].apply(list).reset_index()

    # Associer les valeurs NB_VALD pour chaque LIBELLE_ARRET
    for index, row in grouped.iterrows():
        libelle_arret = row['LIBELLE_ARRET']
        nb_vald = merged_table.loc[merged_table['LIBELLE_ARRET'] == libelle_arret, 'fréquentation moyenne hors JO'].values.tolist()
    
    print(f"LIBELLE_ARRET: {libelle_arret}, NB_VALD: {nb_vald}")

    display(merged_table)

for tableau_nom, tableau in tableaux.items():
    # Fusionner les données de moyenne_par_arret avec chaque tableau du dictionnaire
    merged_table = pd.merge(tableau, moyenne_par_arret, left_on='Station', right_on='LIBELLE_ARRET', how='left')
    
    # Renommer la colonne NB_VALD de moyenne_par_arret
    merged_table = merged_table.rename(columns={'NB_VALD': 'fréquentation'})
    
    # Calculer la fréquentation totale hebdo hors JO
    merged_table['fréquentation totale hebdo hors jo'] = merged_table.groupby('semaine')['fréquentation moyenne hors JO'].transform('sum')
    
    # Afficher le tableau mis à jour
    print(f"Tableau '{tableau_nom}':")
    display(merged_table)

KeyError: 'Column not found: fréquentation moyenne hors JO'

In [83]:
for tableau_nom, tableau in tableaux.items():
    # Fusionner les données de moyenne_par_arret avec chaque tableau du dictionnaire
    merged_table = pd.merge(tableau, moyenne_par_arret, left_on='Station', right_on='LIBELLE_ARRET', how='left')
    
    # Renommer la colonne NB_VALD de moyenne_par_arret
    merged_table = merged_table.rename(columns={'NB_VALD': 'fréquentation'})
    
    # Calculer la fréquentation totale hebdo hors JO
    merged_table['fréquentation totale hebdo hors jo'] = merged_table.groupby('semaine')['fréquentation moyenne hors JO'].transform('sum')
    
    # Afficher le tableau mis à jour
    print(f"Tableau '{tableau_nom}':")
    display(merged_table)

KeyError: 'semaine'

In [ ]:
for k in numéro:
    k_str = str(k)
    tableau = tableaux[f'ligne numéro[{k_str}]']
    print(f"Colonnes du tableau 'ligne numéro[{k_str}]':")
    print(tableau.columns)

Colonnes du tableau 'ligne numéro[1]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[2]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[3]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[3bis]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[4]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[5]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[6]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[7]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[7bis]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[8]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[9]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[10]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[11]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[12]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[13]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')
Colonnes du tableau 'ligne numéro[14]':
Index(['Rang', 'Station', 'Trafic', 'nb_correspondance',
       'fréquentation_totale_ligne', 'Trafic_divisé'],
      dtype='object')